<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ projectName }}</title>

    <link rel="stylesheet" href="css/style.min.css">

    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#7a66cc">
    <meta name="msapplication-TileColor" content="#7a66cc">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="{{ projectName }}">
    <meta property="og:url" content="{{ host }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="apple-touch-icon.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="60">
    <meta property="og:image:height" content="60">
    <meta property="og:image:alt" content="Logo">
  </head>
  <body style="background-image: url({{ pageBg }})">
    {% include "components/page-header/index.njk" %}
    <main class="container">
      {% block main %}
        {% with promo %}{% include "components/promo/index.njk" %}{% endwith %}
      {% endblock %}
    </main>
    {% include "components/page-footer/index.njk" %}

    <script src="js/script.min.js"></script>
  </body>
</html>
